{
  "presets": [
    [
      "latest", {
        "es2015": { // IMPORTANT TO USE THIS AND NOT ENV FOR HOT RELOAD GOD FUCKING DAMN IT REACT/WEBPACK/WHOEVER THE FUCK IS RESPONSIBLE FOR THIS SHIT SHOW OF INCOMPATIBLE DEPENDENCIES.
          "modules": false
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        "latest",
        "es2015",
        "react",
        "stage-0"
      ]
    }
  }
}
