@import './mixins.less';

:global * {
  box-sizing: border-box;
}

:global .title {
  margin: 0.5em 0;
  color: @color-darkish;
}

@profile-pic-tiny-width: 28px;

:global .profile-tiny {
  border-radius: @profile-pic-tiny-width / 2;
  width: @profile-pic-tiny-width;
  height: @profile-pic-tiny-width;
  margin-right: 0.5rem;
  margin-top: -5px;
  transform: translateY(5px);
}

:global a {
  color: @color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

:global body {
  background: @color-verylight;
}
