@import './mixins.less';

:global * {
  box-sizing: border-box;
}

:global body {
  background: @color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@profile-pic-tiny-width: 80px;

:global .profile-tiny {
  border-radius: @profile-pic-tiny-width / 2;
  width: @profile-pic-tiny-width;
  height: @profile-pic-tiny-width;
}


